
h1 {
  color: grey;
  background-color: lightBlue;
}

h3{
  color: orange;
  background-color: lightBlue;
}

a{
  color:green;
}

table {
  border-collapse: collapse;
  width: 100%
}

table, th, td {
  border: 1px solid black;
  padding: 15px;
}
